@import url(reset.css);
@import url(https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
:root {
  font-size: 62.5%; /* 1 rem = 10px */
  --eerie-black: #1b1b1b;
  --brilliant-rose: #fb53b6;
  --verdigris: #17bebb;
  --saffron: #e1bc29;
  --parchment: #f2e7c9;
  --light-grey: #d9d9d9;
}
* {
  box-sizing: border-box;
  &::selection {
    background-color: var(--brilliant-rose);
    color: var(--eerie-black);
  }
}
body {
  background-color: var(--eerie-black);
  color: var(--parchment);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Pirata One", sans-serif;
  font-weight: 400;
  font-size: 4rem;

  background-image: linear-gradient(
    90deg,
    var(--brilliant-rose),
    var(--verdigris)
  );
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
p {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem;
  line-height: 2rem;
}
header > a {
  &:nth-child(2) {
    display: none;
  }
  img {
    height: 60px;
  }
}
/* nav a {
  text-decoration: none;
} */

header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 5px;
  background-color: #1b1b1baa;
  backdrop-filter: blur(10px);
  position: relative;
  position: fixed;
  z-index: 2;
  width: 100%;
  nav {
    display: block;
    ul {
      display: flex;
      li {
        margin-left: 1.5rem;
        font-size: 1.7rem;
        a {
          text-decoration: none;
          color: var(--parchment);
          position: relative;
          &:hover {
            color: var(--brilliant-rose);
          }
          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background-image: linear-gradient(
              90deg,
              var(--brilliant-rose),
              var(--verdigris)
            );
            transform: scaleX(0);
            transform-origin: 0% 50%;
            position: absolute;
            left: 0;
            bottom: -5px;
            opacity: 0;
            transition: all 0.5s;
          }
          &:hover::after {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  .slides:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Nodig om pseudo-element correct te positioneren */
    z-index: 0; /*  Zorg dat het element erachter ligt */
    height: 100vh;
    h1 {
      animation: fadeInLeft;
      animation-duration: 2s;
    }
    p:nth-child(2) {
      animation: fadeInRight;
      animation-duration: 2s;
    }
    p:nth-child(3) {
      animation: fadeInLeft;
      animation-duration: 2s;
      color: var(--brilliant-rose);
      font-weight: 200;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
          90deg,
          rgba(255, 105, 180, 0.5),
          rgba(67, 179, 173, 0.5)
        ),
        url("/Noise Gradient.svg");
      background-repeat: repeat;
      background-blend-mode: darken;
      opacity: 0.4; /* Pas transparantie aan */
      z-index: -1; /* Zet dit achter de content */
    }
    * {
      margin: 2rem;
    }
    a {
      text-decoration: none;
      background-image: linear-gradient(
        90deg,
        var(--brilliant-rose),
        var(--verdigris)
      );
      border-radius: 100px;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      color: var(--eerie-black);
      animation: bounceIn;
      animation-duration: 2s;
      &:hover {
        color: var(--brilliant-rose);
        background: var(--verdigris);
      }
    }
  }
  .slides:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttons {
      margin-top: 1.5rem;
      a {
        text-decoration: none;
      }
      a:first-child {
        background-image: linear-gradient(
          90deg,
          var(--brilliant-rose),
          var(--verdigris)
        );
        border-radius: 100px;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin-right: 2rem;
        color: var(--eerie-black);
        &:hover {
          color: var(--brilliant-rose);
          background: var(--verdigris);
        }
      }
      a:last-child {
        outline: 2px solid var(--parchment);
        outline-offset: -2px;
        border-radius: 100px;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        color: var(--parchment);
        &:hover {
          color: var(--brilliant-rose);
          background: var(--verdigris);
          outline: 2px solid var(--brilliant-rose);
        }
      }
    }
    p:first-of-type {
      padding-top: 2rem;
    }
    p:last-of-type {
      padding-bottom: 2rem;
    }
  }
  .slides:nth-child(3) {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 60vh;
    .skill {
      padding-top: 3rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      cursor: default;
      li {
        background-color: #6f6e6e;
        border-radius: 3px;
        margin: 0.5rem;
        padding: 1rem;
        font-size: 1.5rem;
      }
    }
  }
  .slides:nth-child(4) {
    display: flex;
    flex-direction: column;
    place-items: center;
    h2 {
      margin-bottom: 2rem;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      place-items: center;
      div {
        justify-content: center;
        /* text-align: center; */
        border: 0.8rem solid;
        position: relative;
        overflow: hidden;
        color: var(--brilliant-rose);
        text-shadow: 2px 2px 4px var(--eerie-black);
        font-size: 3rem;
        border-image-source: linear-gradient(
          90deg,
          var(--brilliant-rose),
          var(--verdigris)
        );
        border-image-slice: 1;
        padding: 1.5rem;
        width: 30rem;
        height: 30rem;
      }
      a {
        /* display: block; */
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 4rem;
        }
      }
      div:nth-child(1)::after {
        background-image: url(/crud.png);
      }
      div:nth-child(2)::after {
        background-image: url(/mockup_metal_ipod_wallpaper.jpg);
      }
      div:nth-child(3)::after {
        background-image: url(/boottocht.jpg);
      }

      div:nth-child(1)::after,
      div:nth-child(2)::after,
      div:nth-child(3)::after {
        content: "";
        position: absolute;
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        transition: transform 0.5s ease, filter 0.5s ease;
      }
      div:nth-child(1):hover::after,
      div:nth-child(2):hover::after,
      div:nth-child(3):hover::after {
        transform: scale(1.3);
        filter: grayscale(0);
      }
    }
  }

  .slides:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > h2 {
      margin-bottom: 2rem;
    }

    .links {
      display: flex; /* Maakt de container voor de links horizontaal */
      gap: 1rem; /* Voeg ruimte tussen de links toe */
      flex-direction: row;
      /* margin-top: 2rem; */
    }
    a {
      border: 0.8rem solid;
      border-image-source: linear-gradient(
        90deg,
        var(--brilliant-rose),
        var(--verdigris)
      );
      border-image-slice: 1;
      padding: 1.5rem;
      &:hover {
        background-color: var(--verdigris);
      }
      svg {
        fill: url(#gradient-horizontal) gray;
      }
    }
    .form {
      margin-bottom: 5rem;
      h2 {
        margin-top: 5rem;
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* justify-content: center; */
        width: 100%;

        input,
        textarea {
          border: 2px solid var(--verdigris);
          border-radius: 5px;
          background-color: var(--eerie-black);
          height: 5rem;
          color: var(--brilliant-rose);
        }
        textarea {
          resize: both;
          max-width: 100%;
        }
        ::placeholder {
          color: var(--parchment);
          opacity: 0.5;
        }
        :focus {
          border: var(--brilliant-rose);
        }
        input[type="submit"] {
          background-image: linear-gradient(
            90deg,
            var(--brilliant-rose),
            var(--verdigris)
          );
          border-radius: 100px;
          font-size: 1.5rem;
          padding: 1rem 2rem;
          width: inherit;
          align-self: center;
          color: var(--eerie-black);
          border: none;
          &:hover {
            color: var(--brilliant-rose);
            background: var(--verdigris);
          }
        }
      }
    }
  }
  footer {
    padding: 2rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    color: black;
    background-image: linear-gradient(
        90deg,
        rgba(255, 105, 180, 0.5),
        rgba(67, 179, 173, 0.5)
      ),
      url("/Noise Gradient.svg");
    /* background-repeat: repeat; */
    background-blend-mode: darken;
  }
}
#gradient-horizontal {
  --color-stop-1: var(--brilliant-rose);
  --color-stop-2: var(--verdigris);
}
.slides {
  width: 100%;
  height: fit-content;
  padding-top: 7rem;
  display: flex;
  /* scroll-snap-align: start; */
  /* padding-top: 110px; */
  justify-content: center;
}

@media (min-width: 600px) {
  h1,
  h2 {
    font-size: 8rem;
  }
  p,
  ul {
    max-width: 70vw;
  }
  #hey > p {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 6rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .slides:nth-child(1),
    .slides:nth-child(4),
    .slides:nth-child(5) {
      grid-column: 1/-1;
    }
    .slides:nth-child(2),
    .slides:nth-child(3) {
      padding-inline: 2rem;
      display: flex;
      justify-content: left;
      align-items: start;
      > h2 {
        margin-left: 1rem;
      }
      .buttons {
        margin-left: 1rem;
      }
      .skill {
        display: flex;
        justify-content: left;
        align-items: flex-start;
      }
    }
    .slides:nth-child(4) {
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 calc(2rem + 0.8rem);
        max-width: 160rem;
        div {
          width: 40vw;
          aspect-ratio: 1/1;
          height: 40%;
        }
      }
    }
    .slides:nth-child(5) {
      padding-top: 15rem;
    }
  }
}

@media (min-width: 1700px) {
  .container {
    .slides:nth-child(2),
    .slides:nth-child(3) {
      max-width: 70rem;
      /* height: 60rem; */

      margin: auto;
      h2 {
        margin-top: 5rem;
      }
      p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      #skills li {
        font-size: 1.7rem;
      }
    }
    .slides:nth-child(2) {
      margin-right: 10rem;
    }
    .slides:nth-child(3) {
      margin-left: 10rem;
    }
  }
}
